<html>
  <head>
    <title>.: NOX :.</title>
    <script>
    function submitAndClear(){
      if(document.getElementById('speechinput').value != ""){
        document.noxForm.submit();
        document.getElementById('speechinput').value = "";
      }
    }
    </script>
  </head>
  <body>
    <form method="post" name="noxForm" id="noxForm" action="{{ action }}" target="voiceframe">
      <input name="speechinput" id="speechinput" type="text" onFocus="submitAndClear(this);" style="width:20px;" x-webkit-speech />
      <!--input type="submit" value="ASK" /-->
    </form>
    <iframe width="0px" height="0px" style="border:0px;" src="about:none" name="voiceframe"></iframe>
  </body>
</html>
